
 
  <%= flash[:notice] %>
  <% if current_user.is_chef? %>
    <%= link_to 'New Listing', new_listing_path %>
  <% end %>


<div class="container d-flex">


<h1 class='justify-content-center'>Chef listings</h1>
  <% @listings.each do |listing| %>


  <div class="card" style="width: 30vh;">
  <div class="card-body">
    <h5 class="card-title"><%= listing.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%=listing.category.name%></h6>
    <h6 ></h6>
    <p class="card-text"><%= listing.description %></p>
     <div class="text-right">
                 <%= link_to "Show", listing_path(listing.id), class: "btn btn-primary" %>
                  <% if user_signed_in? && current_user.is_chef? && current_user.chef.listings.include?(listing) %>
                    <%= link_to "Delete", listing_path(listing.id), class: "btn btn-danger", method: :delete %>
                    <%= link_to "Edit", edit_listing_path(listing), class: "btn btn-info"%>
                  <% end %>
              </div>
            
  </div>
</div>
  

      <div class="card  mb-3">
        <div class="card-body">
          <div class=" card-header mb-3">
            
              <h5 class="card-title text-dark mb-1 align-self-center"> 
                  <%= listing.chef.user.name %> 
              </h5>
            
          </div>
            <div class="row">
              <div class="col-5">
              <h3>
             $<%= listing.price %>
             </h3>
              
              
              <%= listing.chef.bio %>
                </div>
               
            </div>
        </div>
    </div>
  <% end %>
</div>