<p id="notice"><%= notice %></p>
<div class="container">
  <div class="d-flex justify-content-center">
    <div class="card mb-3" style="width: 40vw;">
      <%= image_tag(@listing.chef.user.avatar, class:'card-img-top') %>
        <div class="card-body">
          <h5 class="card-title"><%= @listing.title %></h5>
          <p class="card-text"><%=@listing.chef.user.name %> is cooking <%=@listing.category.name %> style food on <%@listing.date_available if @listing.date_available? %></p>
          <p class="card-text">$<%= @listing.price %></p>
          <p class="card-text"><%= @listing.description %></p>
          <p class="card-text"><%= @listing.location %></p>
        </div>
        <div class="card-body text-right">
        <% unless @listing.booked? || @listing.date_available.past?%>
          <button class= 'btn btn-success'id="stripe">Book!</button>
          <% else %>
          <button type="button" class="btn btn-primary btn-sm disabled"> Unavailable</button>
          <% end %>
          <%= javascript_pack_tag 'stripe' %>
        <% if current_user.is_chef && current_user.chef.listings.include?(@listing) %>
          <%= link_to 'Edit', edit_listing_path(@listing),class:'btn btn-warning' %> 
        <% end %>
          <%= link_to 'Back', listings_path,class: "btn btn-info" %>
    </div>
  </div>
</div>


<% unless @reviews.empty? %>
  <div class="card py-2"><%@reviews.each do |review| %>
    <h3 class="card-title"><%=review.user.name %>  Said that this chef was:  <%= review.rating ? "#{'Good!'}" : "#{'Bad!'}" %></h3>
    <p class="card-text"><%= review.content %></p>
    <% end %>
    <hr>
  </div>
<% end %>



  
<% unless @recipes.empty? %>
  <div class="container d-flex">
    <div class="card" style="width: 18rem;">
      <% @recipes.each do |rec| %>
      
          <%= image_tag(rec.image, class:'card-img-top') if rec.image.attached? %>
          <h5 class="card-title">  <%= rec.title %></h5>
        <p class="card-text"> <%= rec.body %></p>
        <%= link_to 'show', rec ,class:'btn btn-primary'%>
        <% end %>
      </div>
    </div>
</div>
<% end %>