<p id="notice"><%= notice %></p>


  <h1 class='text-center'>Your Recipes</h1>
<%= link_to 'New recipe', new_recipe_path, class:'btn btn-dark d-block pb-3' %>
<div class="container d-flex justify-content-center">
  <div class="card" style="width: 25rem;">
    <% @recipes.each do |rec| %>

  <%= image_tag(rec.image, class:'card-img-top') if rec.image.attached? %>
    <h5 class="card-title">  <%= rec.title %></h5>
    <p class="card-text"> <%= rec.body %></p>
  <%= link_to 'show', rec ,class:'btn btn-primary'%>
  <% end %>
  </div>
</div>
