<p id="notice"><%= notice %></p>


 
<div class="container d-flex justify-content-center pt-4">
  <div class="card mt-3" style="width: 25rem;">
    

  <%= image_tag(@recipe.image, class:'card-img-top')  %>
    <h5 class="card-title">  <%= @recipe.title %></h5>
    <p class="card-text lead"> This takes <%= @recipe.cooktime %> minutes to cook</p>
      <p class="card-text lead"> <%= @recipe.body %></p>
  </div>
</div>
<%= link_to 'Back', :back,class:'btn btn-secondary btn-sml' %>

<%= render 'recipes/comments' %>

 <% if current_user.is_chef && current_user.chef.recipes.include?(@recipe) %>
      <%= link_to 'Edit', edit_recipe_path(@recipe),class:'btn btn-warning' %> 
    <% end %>