<h1>Recipes#show</h1>
<p>Find me in app/views/recipes/show.html.erb</p>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Cook time:</strong>
  <%= @recipe.cooktime%>
</p>



<p>
  <strong>Method:</strong>
  <%= @recipe.body %>
</p>


<%= render 'recipes/comments' %>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
