<h1>Recipes#show</h1>
<p>Find me in app/views/recipes/show.html.erb</p>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Cook time:</strong>
  <%= @recipe.cooktime%>
</p>



<p>
  <strong>Method:</strong>
  <%= @recipe.body %>
</p>


<%= render 'recipes/comments' %>

 <% if current_user.is_chef && current_user.chef.recipes.include?(@recipe) %>
      <%= link_to 'Edit', edit_recipe_path(@recipe),class:'btn btn-warning' %> 
    <% end %>
<%= link_to 'Back', :back %>
